$kfds-icon-kone-logo: '\57344';
$kfds-icon-elevator: '\57346';
$kfds-icon-elevator-sim: '\57347';
$kfds-icon-elevator-double-deck: '\57348';
$kfds-icon-elevator-double-deck-sim: '\57349';
$kfds-icon-escalator: '\57350';
$kfds-icon-auto-walk-sim: '\57351';
$kfds-icon-auto-walk: '\57352';
$kfds-icon-turnstile: '\57353';
$kfds-icon-door-sliding: '\57354';
$kfds-icon-door-swing: '\57355';
$kfds-icon-door-revolving: '\57356';
$kfds-icon-pfi-equipment-2: '\57357';
$kfds-icon-equipment: '\57358';
$kfds-icon-pfi-equipment: '\57359';
$kfds-icon-equipment-2: '\57360';
$kfds-icon-test-drive-2: '\57361';
$kfds-icon-elevator-door: '\57362';
$kfds-icon-elevator-door-opening: '\57363';
$kfds-icon-elevator-door-closing: '\57364';
$kfds-icon-elevator-door-opened: '\57365';
$kfds-icon-intercom: '\57366';
$kfds-icon-arrow-up: '\57368';
$kfds-icon-arrow-down: '\57369';
$kfds-icon-arrow-left: '\57370';
$kfds-icon-arrow-right: '\57371';
$kfds-icon-arrow-right-button: '\57372';
$kfds-icon-arrow-up-button: '\57373';
$kfds-icon-arrow-left-button: '\57374';
$kfds-icon-arrow-down-button: '\57375';
$kfds-icon-chevron-left: '\57376';
$kfds-icon-chevron-down: '\57377';
$kfds-icon-chevron-up: '\57378';
$kfds-icon-chevron-right: '\57379';
$kfds-icon-chevron-right-button: '\57380';
$kfds-icon-chevron-left-button: '\57381';
$kfds-icon-chevron-down-button: '\57382';
$kfds-icon-chevron-outwards: '\57383';
$kfds-icon-chevron-up-button: '\57384';
$kfds-icon-cross-boomerang: '\57385';
$kfds-icon-cross-boomerang-button: '\57386';
$kfds-icon-chevron-inwards: '\57387';
$kfds-icon-double-chevron-down: '\57388';
$kfds-icon-double-chevron-up: '\57389';
$kfds-icon-cross-arrow-horizontal: '\57390';
$kfds-icon-cross-arrow-vertical: '\57391';
$kfds-icon-warning: '\57393';
$kfds-icon-fault: '\57394';
$kfds-icon-alarm: '\57395';
$kfds-icon-notification: '\57396';
$kfds-icon-weight-kilogram: '\57397';
$kfds-icon-load-unknown: '\57398';
$kfds-icon-load: '\57399';
$kfds-icon-load-people: '\57400';
$kfds-icon-load-kg: '\57401';
$kfds-icon-load-lbs: '\57402';
$kfds-icon-lock: '\57403';
$kfds-icon-unlock: '\57404';
$kfds-icon-out-of-service: '\57405';
$kfds-icon-maintenance: '\57406';
$kfds-icon-maintenance-2: '\57407';
$kfds-icon-service: '\57408';
$kfds-icon-gear: '\57409';
$kfds-icon-mechanics: '\57410';
$kfds-icon-user: '\57411';
$kfds-icon-people: '\57412';
$kfds-icon-headsup: '\57413';
$kfds-icon-technician: '\57414';
$kfds-icon-attentant: '\57415';
$kfds-icon-people-counting: '\57416';
$kfds-icon-lift-full: '\57417';
$kfds-icon-population: '\57418';
$kfds-icon-Toilet: '\57419';
$kfds-icon-people-single: '\57420';
$kfds-icon-waiting-que: '\57421';
$kfds-icon-loading: '\57422';
$kfds-icon-priority-call: '\57423';
$kfds-icon-vip: '\57424';
$kfds-icon-sensor: '\57425';
$kfds-icon-247-connected: '\57426';
$kfds-icon-247-family: '\57427';
$kfds-icon-247-alert: '\57428';
$kfds-icon-247-planer: '\57429';
$kfds-icon-globe: '\57430';
$kfds-icon-location: '\57431';
$kfds-icon-cloud: '\57432';
$kfds-icon-cloud-offline: '\57433';
$kfds-icon-cloud-check: '\57434';
$kfds-icon-api: '\57435';
$kfds-icon-cloud-connect: '\57436';
$kfds-icon-server: '\57437';
$kfds-icon-equipment-info: '\57438';
$kfds-icon-huminity: '\57439';
$kfds-icon-sun: '\57440';
$kfds-icon-snow: '\57441';
$kfds-icon-air: '\57442';
$kfds-icon-wind: '\57443';
$kfds-icon-earthquake: '\57444';
$kfds-icon-fire: '\57445';
$kfds-icon-fireman-drive: '\57446';
$kfds-icon-medical-emergency: '\57447';
$kfds-icon-test-drive: '\57448';
$kfds-icon-siren: '\57449';
$kfds-icon-siren-off: '\57450';
$kfds-icon-siren-reset: '\57451';
$kfds-icon-energy: '\57452';
$kfds-icon-power-shortage: '\57453';
$kfds-icon-onbattery: '\57454';
$kfds-icon-bubble: '\57455';
$kfds-icon-chat: '\57456';
$kfds-icon-message: '\57457';
$kfds-icon-tooltip: '\57458';
$kfds-icon-greeting: '\57459';
$kfds-icon-question: '\57460';
$kfds-icon-help: '\57461';
$kfds-icon-manual: '\57462';
$kfds-icon-e-book: '\57463';
$kfds-icon-info-2: '\57464';
$kfds-icon-info: '\57465';
$kfds-icon-info-circle: '\57466';
$kfds-icon-parking: '\57467';
$kfds-icon-wifi: '\57468';
$kfds-icon-wifi-disconnected: '\57469';
$kfds-icon-signal-strenth: '\57470';
$kfds-icon-bluetooth: '\57471';
$kfds-icon-usb: '\57472';
$kfds-icon-print: '\57473';
$kfds-icon-print-preview: '\57474';
$kfds-icon-camera: '\57475';
$kfds-icon-screenshot: '\57476';
$kfds-icon-cinema: '\57477';
$kfds-icon-mouse: '\57478';
$kfds-icon-microphone: '\57479';
$kfds-icon-mute-mic: '\57480';
$kfds-icon-mobile-device: '\57481';
$kfds-icon-mobile-comm: '\57482';
$kfds-icon-mobile-shake: '\57483';
$kfds-icon-user-client: '\57484';
$kfds-icon-mobile-key: '\57485';
$kfds-icon-status-monitor: '\57486';
$kfds-icon-tablet-device: '\57487';
$kfds-icon-handset: '\57488';
$kfds-icon-247-call: '\57489';
$kfds-icon-headset: '\57490';
$kfds-icon-numpad: '\57491';
$kfds-icon-braille-for-blindness: '\57492';
$kfds-icon-lobby: '\57493';
$kfds-icon-access-card: '\57494';
$kfds-icon-cross-boomerang-box: '\57495';
$kfds-icon-cargo: '\57496';
$kfds-icon-cleaning: '\57497';
$kfds-icon-dcs: '\57498';
$kfds-icon-independent-mode: '\57499';
$kfds-icon-automatic-mode: '\57500';
$kfds-icon-airlock: '\57501';
$kfds-icon-transfer-mode: '\57502';
$kfds-icon-twoway-mode: '\57503';
$kfds-icon-oneway-mode: '\57504';
$kfds-icon-exit-door: '\57505';
$kfds-icon-safety: '\57506';
$kfds-icon-home: '\57508';
$kfds-icon-resiflow-1: '\57509';
$kfds-icon-residence: '\57510';
$kfds-icon-office-building-1: '\57511';
$kfds-icon-office-building-2: '\57512';
$kfds-icon-office: '\57513';
$kfds-icon-people-flow: '\57514';
$kfds-icon-resiflow: '\57515';
$kfds-icon-officeflow: '\57516';
$kfds-icon-wheelchair: '\57517';
$kfds-icon-pet: '\57518';
$kfds-icon-pet-hollow: '\57519';
$kfds-icon-stairs: '\57520';
$kfds-icon-floors: '\57521';
$kfds-icon-restaraunt: '\57522';
$kfds-icon-shopping: '\57523';
$kfds-icon-shop: '\57524';
$kfds-icon-skydeck: '\57525';
$kfds-icon-skydeck-restaurant: '\57526';
$kfds-icon-sky-restaurant: '\57527';
$kfds-icon-sky-retail-2: '\57528';
$kfds-icon-sky-retail: '\57529';
$kfds-icon-pincode: '\57530';
$kfds-icon-pincode-admin: '\57531';
$kfds-icon-light-off: '\57532';
$kfds-icon-light: '\57533';
$kfds-icon-keytag: '\57534';
$kfds-icon-playground: '\57535';
$kfds-icon-bike: '\57536';
$kfds-icon-gym: '\57537';
$kfds-icon-squash: '\57538';
$kfds-icon-tennis: '\57539';
$kfds-icon-theatre: '\57540';
$kfds-icon-cross: '\57542';
$kfds-icon-check: '\57543';
$kfds-icon-circle-checked: '\57544';
$kfds-icon-circle-selected: '\57545';
$kfds-icon-checkbox-checked: '\57546';
$kfds-icon-checkbox-selected: '\57547';
$kfds-icon-forbid: '\57548';
$kfds-icon-plus: '\57549';
$kfds-icon-minus: '\57550';
$kfds-icon-circle-plus: '\57551';
$kfds-icon-circle-minus: '\57552';
$kfds-icon-more-2: '\57553';
$kfds-icon-more: '\57554';
$kfds-icon-sorting: '\57555';
$kfds-icon-percentage: '\57556';
$kfds-icon-menu: '\57557';
$kfds-icon-menu-box: '\57558';
$kfds-icon-list: '\57559';
$kfds-icon-action-list: '\57560';
$kfds-icon-checklist: '\57561';
$kfds-icon-magnifier: '\57562';
$kfds-icon-reset: '\57563';
$kfds-icon-backup: '\57564';
$kfds-icon-restore: '\57565';
$kfds-icon-refresh: '\57566';
$kfds-icon-refresh-2: '\57567';
$kfds-icon-evaluations: '\57568';
$kfds-icon-update: '\57569';
$kfds-icon-update-2: '\57570';
$kfds-icon-switch-knob: '\57571';
$kfds-icon-clock: '\57572';
$kfds-icon-hourglass: '\57573';
$kfds-icon-stopwatch: '\57574';
$kfds-icon-alarmclock: '\57575';
$kfds-icon-rotation: '\57576';
$kfds-icon-power-switch: '\57577';
$kfds-icon-play: '\57578';
$kfds-icon-pause: '\57579';
$kfds-icon-sound-off: '\57580';
$kfds-icon-sound: '\57581';
$kfds-icon-sound-off2: '\57582';
$kfds-icon-music: '\57583';
$kfds-icon-loudspeaker: '\57584';
$kfds-icon-follow: '\57585';
$kfds-icon-view: '\57586';
$kfds-icon-hide: '\57587';
$kfds-icon-pointing: '\57588';
$kfds-icon-link-click: '\57589';
$kfds-icon-press-and-hold-3s: '\57590';
$kfds-icon-mouse-click: '\57591';
$kfds-icon-dopper: '\57592';
$kfds-icon-paper-clip: '\57593';
$kfds-icon-report-3: '\57594';
$kfds-icon-assignment: '\57595';
$kfds-icon-assigned: '\57596';
$kfds-icon-inspection: '\57597';
$kfds-icon-complete: '\57598';
$kfds-icon-assess: '\57599';
$kfds-icon-copy: '\57600';
$kfds-icon-copy-1: '\57601';
$kfds-icon-paste: '\57602';
$kfds-icon-copy2clipboard: '\57603';
$kfds-icon-clipboard: '\57604';
$kfds-icon-edit-field: '\57605';
$kfds-icon-edit: '\57606';
$kfds-icon-compose: '\57607';
$kfds-icon-cloud-upload: '\57608';
$kfds-icon-cloud-download: '\57609';
$kfds-icon-download1: '\57610';
$kfds-icon-enter: '\57611';
$kfds-icon-import: '\57612';
$kfds-icon-export: '\57613';
$kfds-icon-exit: '\57614';
$kfds-icon-open-door: '\57615';
$kfds-icon-retreat: '\57616';
$kfds-icon-tag: '\57617';
$kfds-icon-details: '\57618';
$kfds-icon-nameplate: '\57619';
$kfds-icon-create-doc: '\57620';
$kfds-icon-dollar: '\57621';
$kfds-icon-calculator: '\57622';
$kfds-icon-calendar: '\57623';
$kfds-icon-paste-2: '\57624';
$kfds-icon-image-2: '\57625';
$kfds-icon-qr: '\57626';
$kfds-icon-qr-1: '\57627';
$kfds-icon-qrscan: '\57628';
$kfds-icon-like: '\57629';
$kfds-icon-tools: '\57630';
$kfds-icon-scale: '\57631';
$kfds-icon-controls: '\57632';
$kfds-icon-create-case: '\57633';
$kfds-icon-create-filter: '\57634';
$kfds-icon-briefcase: '\57635';
$kfds-icon-view-doc: '\57636';
$kfds-icon-master-sheet: '\57637';
$kfds-icon-contract: '\57638';
$kfds-icon-simcard: '\57639';
$kfds-icon-card-swipe-1: '\57640';
$kfds-icon-resource-upload: '\57641';
$kfds-icon-resources-for-display: '\57642';
$kfds-icon-report-1: '\57643';
$kfds-icon-document: '\57644';
$kfds-icon-doc-word: '\57645';
$kfds-icon-doc-excel: '\57646';
$kfds-icon-doc-ppt: '\57647';
$kfds-icon-report: '\57648';
$kfds-icon-trash: '\57649';
$kfds-icon-save: '\57650';
$kfds-icon-archive: '\57651';
$kfds-icon-undo: '\57652';
$kfds-icon-filter: '\57653';
$kfds-icon-open-file: '\57654';
$kfds-icon-folder: '\57655';
$kfds-icon-compass: '\57657';
$kfds-icon-IoT-cloud: '\57658';
$kfds-icon-peopleflow-api: '\57659';
$kfds-icon-construction: '\57660';
$kfds-icon-production-line: '\57661';
$kfds-icon-factory: '\57662';
$kfds-icon-hoisting: '\57663';
$kfds-icon-drive: '\57664';
$kfds-icon-PCBA: '\57665';
$kfds-icon-electrification: '\57666';
$kfds-icon-car: '\57667';
$kfds-icon-AI: '\57668';
$kfds-icon-analytics: '\57669';
$kfds-icon-carbon: '\57670';
$kfds-icon-construct: '\57671';
$kfds-icon-eco-system: '\57672';
$kfds-icon-productivity: '\57673';
$kfds-icon-meter: '\57674';
$kfds-icon-trend: '\57675';
$kfds-icon-statistics: '\57676';
$kfds-icon-hierachy: '\57677';
$kfds-icon-round-chart: '\57678';
$kfds-icon-lab-flask: '\57679';
$kfds-icon-3d-print-2: '\57680';
$kfds-icon-3d-print: '\57681';
$kfds-icon-improvement-2: '\57682';
$kfds-icon-rocket: '\57683';
$kfds-icon-features: '\57684';
$kfds-icon-robot-1: '\57685';
$kfds-icon-robot-2: '\57686';
$kfds-icon-maze: '\57687';
$kfds-icon-joystick: '\57688';
$kfds-icon-award-badge: '\57689';
$kfds-icon-NFC: '\57690';
$kfds-icon-NFC-square: '\57691';
$kfds-icon-sensor-2: '\57692';
$kfds-icon-sensor-3: '\57693';
$kfds-icon-beacon-bluetooth: '\57694';
$kfds-icon-role: '\57695';
$kfds-icon-temple: '\57696';
$kfds-icon-time-saving: '\57697';
$kfds-icon-wellbeing: '\57698';
$kfds-icon-safty: '\57699';
$kfds-icon-eco: '\57700';
$kfds-icon-electric-vehicle: '\57701';
$kfds-icon-electric-plugged: '\57702';
$kfds-icon-electric-power: '\57703';
$kfds-icon-battery-safty: '\57704';
$kfds-icon-battery-warning: '\57705';
$kfds-icon-eco-energy: '\57706';
$kfds-icon-sky-shuttle: '\57708';
$kfds-icon-spade: '\57709';
$kfds-icon-spade-view: '\57710';
$kfds-icon-pmi-tools: '\57711';
$kfds-icon-group-parameter: '\57712';
$kfds-icon-elevator-parameter: '\57713';
$kfds-icon-drive-parameter: '\57714';
$kfds-icon-user-add: '\57715';
$kfds-icon-user-mandatory: '\57716';
$kfds-icon-user-check: '\57717';
$kfds-icon-music-componet: '\57718';
$kfds-icon-audio-segment: '\57719';
$kfds-icon-sound-library: '\57720';
$kfds-icon-video-library: '\57721';
$kfds-icon-network-component: '\57722';
$kfds-icon-remote-elecall-2: '\57723';
$kfds-icon-image-componet: '\57724';
$kfds-icon-video-componet: '\57725';
$kfds-icon-link-componet: '\57726';
$kfds-icon-text-component: '\57727';
$kfds-icon-screen-resources: '\57728';
$kfds-icon-media-screen-setings: '\57729';
$kfds-icon-screen-monitoring: '\57730';
$kfds-icon-upload-to-screen: '\57731';
$kfds-icon-screen-info: '\57732';
$kfds-icon-media-screen: '\57733';
$kfds-icon-elevator-critical: '\57734';
$kfds-icon-escalator-critical: '\57735';
$kfds-icon-door-critical: '\57736';
$kfds-icon-elevator-error: '\57737';
$kfds-icon-escalator-error: '\57738';
$kfds-icon-auto-walk-error: '\57739';
$kfds-icon-elevator-car-special: '\57740';
$kfds-icon-elevator-car-xlarge: '\57741';
$kfds-icon-elevator-car-2doors: '\57742';
$kfds-icon-elevator-group: '\57743';
$kfds-icon-escalator-group: '\57744';
$kfds-icon-autowalk-group: '\57745';
$kfds-icon-height: '\57746';
$kfds-icon-width: '\57747';
$kfds-icon-spacer: '\57748';
$kfds-icon-travel-height: '\57749';
$kfds-icon-travel-weight: '\57750';
$kfds-icon-door-zone: '\57751';
$kfds-icon-escalator-rise: '\57752';
$kfds-icon-escalator-amgle: '\57753';
$kfds-icon-escalator-length: '\57754';
$kfds-icon-target: '\57755';
$kfds-icon-center-of-gravity: '\57756';
$kfds-icon-figure-walking: '\57757';
$kfds-icon-figure-follow: '\57758';
$kfds-icon-figure-play: '\57759';
$kfds-icon-figure-reception: '\57760';
$kfds-icon-figure-stretch: '\57761';
$kfds-icon-figure-exercise: '\57762';
$kfds-icon-figure-running: '\57763';
$kfds-icon-figure-freefall: '\57764';
$kfds-icon-figure-falldown: '\57765';
$kfds-icon-smiley-frustrated: '\57766';
$kfds-icon-smiley-sad: '\57767';
$kfds-icon-smiley-neutual: '\57768';
$kfds-icon-smiley-happy: '\57769';
$kfds-icon-smiley-like: '\57770';
$kfds-icon-viewer360: '\57771';
$kfds-icon-viewer-cardboard: '\57772';
$kfds-icon-viewer-tabletop: '\57773';
$kfds-icon-warehouse: '\57774';
$kfds-icon-truck-1: '\57775';
$kfds-icon-package-arrived: '\57776';
$kfds-icon-package-waiting-1: '\57777';
$kfds-icon-package: '\57778';
$kfds-icon-inentory: '\57779';
$kfds-icon-replace-material: '\57780';
$kfds-icon-umbrella: '\57781';
$kfds-icon-asamble: '\57782';
$kfds-icon-install: '\57783';
$kfds-icon-upgrade-package: '\57784';
$kfds-icon-piechart-1: '\57785';
$kfds-icon-piechart-2: '\57786';
$kfds-icon-piechart-3: '\57787';
$kfds-icon-piechart-4: '\57788';
$kfds-icon-piechart-5: '\57789';
$kfds-icon-piechart-6: '\57790';
$kfds-icon-piechart-7: '\57791';
$kfds-icon-piechart-8: '\57792';
$kfds-icon-apple: '\57794';
$kfds-icon-coffee: '\57795';
$kfds-icon-hand-shake: '\57796';
$kfds-icon-hand-shake1: '\57797';
$kfds-icon-bee: '\57798';
$kfds-icon-gift: '\57799';
$kfds-icon-fireside-chat: '\57800';
$kfds-icon-video-call: '\57801';
$kfds-icon-keep-inlane: '\57802';
$kfds-icon-face-mask: '\57803';
$kfds-icon-clean-off: '\57804';
$kfds-icon-body-temperature: '\57805';
$kfds-icon-coughing: '\57806';
$kfds-icon-hand-fobid: '\57807';
$kfds-icon-social-distance: '\57808';
$kfds-icon-hand-hygiene: '\57809';
$kfds-icon-thermometer: '\57810';
$kfds-icon-lounge: '\57811';
$kfds-icon-waiting-area: '\57812';
$kfds-icon-office-chair: '\57813';
$kfds-icon-cybersecurity: '\57814';
$kfds-icon-weather-overcast: '\57815';
$kfds-icon-lgm: '\57816';
$kfds-icon-pin: '\57817';
$kfds-icon-cummunity: '\57818';
$kfds-icon-customer-portal: '\57819';
$kfds-icon-customer-data: '\57820';
$kfds-icon-cdm: '\57821';
$kfds-icon-block-pile: '\57822';
$kfds-icon-view-save: '\57823';
$kfds-icon-transferfloor-legacy: '\57825';
$kfds-icon-transferfloor2-legacy: '\57826';
$kfds-icon-attentant-1: '\57827';
$kfds-icon-door-open: '\57828';
$kfds-icon-door-close: '\57829';
